/* :root */
:root {
    --box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    --color-green: #4CAF50;
    --color-orange: #ffa500;
    --background-footer-tag-header: #fff8dc;

    --font-size-large: 2rem; /* 32px in rem */
    --font-size-medium: 1.5rem; /* 24px in rem */
    --font-size-small: 1.25rem; /* 20px in rem */

    --spacing-large: 1.25rem; /* 20px in rem */
    --spacing-medium: 0.625rem; /* 10px in rem */
    --spacing-small: 0.3125rem; /* 5px in rem */

    --border-radius-large: 0.625rem; /* 10px in rem */
    --border-radius-medium: 0.3125rem; /* 5px in rem */
}

/* Dark-Mode */
[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
    --secondary-color: #37474F; /* Dunklerer Hintergrund für den Button im Dark Mode */
    --primary-color: #90CAF9; /* Hellerer Schatten/Fokus Farbe im Dark Mode */
}