@import url(global.css);
@import url(./components/buttonShowAnswer.css);
@import url(./components/question-card.css);
@import url(./components/backToTopButton.css);
@import url(./components/darkMode.css);
@import url(./components/profilPage.css);

body {
  margin: 0;
  font-family: var(--font-primary);
}

/* Header-Bereich */

.title {
  background-color: var(--background-color-light);
  padding: var(--spacing-large);
  text-align: center;
  box-shadow: var(--box-shadow);
}

.title h1 {
  color: var(--color-green);
}

/* Main-Bereich */
main {
  /* display: flex;
    flex-direction: column;
    align-items: center; */
  padding-bottom: 3.125rem;
}

main > section {
  display: flex;
  width: 100%;
  justify-content: center;
}

/* Footer-Bereich */

.navbar {
  /* padding: 0;
    margin: 0; */
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--background-color-light);
  padding: var(--spacing-medium);
  display: flex;
  justify-content: center;
  box-shadow: var(--box-shadow);
  /* margin: 0; */
}

.nav {
  display: flex;
  padding: var(--spacing-small) var(--spacing-medium);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: var(--font-size-small);
  width: 30%;
}

footer > nav > a > i {
  margin: 0 var(--spacing-small);
}

.navbar a.active {
  background-color: var(--color-orange);
  font-weight: bold;
  border-radius: var(--border-radius-large);
}

.nav:hover {
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: underline;
  border-radius: var(--border-radius-large);
}

/* Media-Queries */

@media (max-width: 600px) {
  [data-js="dark-button"] {
    z-index: 1;
  }

  .button {
    margin-bottom: var(--spacing-large);
  }

  a.nav {
    font-size: 0.8rem;
  }

  .back-to-top {
    left: 0.0625rem;
    bottom: 6rem;
    font-size: var(--font-size-small);
    padding: var(--spacing-small);
    width: 2.5rem;
    height: 2.5rem;
  }

  .tags {
    justify-content: center;
  }

  .navbar {
    justify-content: space-around;
  }

  .profileNameAndImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: var(--spacing-large);
  }

  .profileNameAndImage img {
    width: 12.5rem;
    height: 12.5rem;
  }

  .counter {
    display: inline-block;
    width: 80%;
  }

  .counter h3 {
    margin: 0;
  }

  .counter p {
    text-align: center;
    margin: 0;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  a.nav {
    font-size: var(--font-size-small);
  }

  .back-to-top {
    width: 3.125rem;
    height: 3.125rem;
    bottom: 4.375rem;
    left: var(--spacing-large);
  }

  .tags {
    justify-content: left;
  }

  /* profil-page */

  .profileNameAndImage {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-large);
    justify-content: center;
    width: 100%;
    margin-top: var(--spacing-large);
  }

  .profileNameAndImage img {
    height: 25rem;
    width: 21.875rem;
  }
}

@media (min-width: 1025px) {
  .profileNameAndImage img {
    height: 25rem;
    width: 21.875rem;
  }

  .counter {
    width: 30%;
  }
}
