@import url(global.css);
@import url(./components/buttonShowAnswer.css);
@import url(./components/question-card.css);
@import url(./components/backToTopButton.css);

/* Header-Bereich */

.title {
    background-color: var(--background-footer-tag-header);
    padding: var(--spacing-large);
    text-align: center;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow);
}

.title h1 {
    font-size: var(--font-size-large);
    color: var(--color-green);
}

/* Main-Bereich */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.125rem;
}

main > section {
    display: flex;
    width: 100%;
    justify-content: center;
}

/* Footer-Bereich */

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-footer-tag-header);
    padding: var(--spacing-medium);
    display: flex;
    justify-content: space-around;
    box-shadow: var(--box-shadow);
}

.nav {
    display: flex;
    padding: var(--spacing-small) var(--spacing-medium);
    width: 33%;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: var(--font-size-small);
}

.navbar a.active {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius-small);
}

/* Profil-Page */

.profile-info {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.profileNameAndImage {
    display: flex;
    justify-content: space-around;
    margin-top: var(--spacing-large);
    align-items: center;
}

.profileNameAndImage img {
    height: 400px;
    width: 350px;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow);
}

.username {
    font-size: var(--font-size-large);
    color: var(--color-orange);
}

.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-me h2 {
    color: var(--color-orange);
    font-size: var(--font-size-medium);
    align-self: baseline;
    padding-left: 12%;
}

.about-me p {
    font-size: var(--font-size-small);
    width: 75%;
}

.counters {
    display: flex;
    gap: var(--spacing-medium);
    margin: var(--margins-20px);
    justify-content: center;
}

.counter {
    display: flex;
    justify-content: space-around;
    gap: var(--spacing-medium);
    width: 20%;
    border: 2px solid var(--color-orange);
    border-radius: var(--border-radius-medium);
    padding: var(--spacing-medium);
    box-shadow: var(--box-shadow);
}

.counters > div > p {
    font-size: var(--font-size-small);
}
