.back-to-top {
    position: fixed;
    bottom: 4.375rem;
    left: var(--spacing-large);
    z-index: 1; 
    font-size: var(--font-size-medium);
    background-color: var(--color-orange);
    border: none;
    padding: var(--spacing-medium);
    border-radius: 50%;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    line-height: 1.875rem;
    box-shadow: var(--box-shadow);
}

.back-to-top:hover {
    background-color: var(--color-green);
}