.button {
    background-color: var(--color-green);
    color: white;
    margin-top: var(--spacing-large);
    padding: .625rem 1.25rem;
    border-radius: var(--border-radius-medium);
    cursor: pointer;
    font-size: var(--font-size-small);
}

.button:hover {
    background-color: var(--color-orange);
}