.create-question-form {
  background-color: var(--background-color-light);
  padding: var(--spacing-large);
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  width: 70%;
  margin: 20px auto;
}

.create-question-form form {
  display: flex;
  flex-direction: column;
}

.create-question-form label {
  margin-bottom: var(--spacing-small);
  font-weight: bold;
}

.create-question-form textarea {
  margin-bottom: var(--spacing-large);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius-medium);
  border: 1px solid #ccc;
}

.create-question-form .button {
  background-color: var(--color-green);
  color: white;
  padding: var(--spacing-medium);
  margin: var(--spacing-medium);
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-small);
}

.create-question-form .button:hover {
  background-color: var(--color-orange);
}
