.create-question-form {
  background-color: var(--background-color-light);
  padding: 20px;
  border-radius: var(--border-radius-large);
  box-shadow: var(--box-shadow);
  width: 70%;
  margin: 20px auto;
}

.create-question-form form {
  display: flex;
  flex-direction: column;
}

.create-question-form label {
  margin-bottom: 5px;
  font-weight: bold;
}

.create-question-form input[type="text"] {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: var(--border-radius-medium);
  border: 1px solid #ccc;
}

.create-question-form .button {
  background-color: var(--color-green);
  color: white;
  padding: 10px;
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
}

.create-question-form .button:hover {
  background-color: var(--color-orange);
}
