.question-card {
    background-color: var(--background-footer-tag-header);
    padding: var(--spacing-large);
    margin: var(--spacing-large);
    border-radius: var(--border-radius-large);
    box-shadow: var(--box-shadow);
    position: relative;
    width: 75%;
}

main > section > article > div{
    text-align: center;
}


.question-card h2 {
    font-size: var(--font-size-large);
    font-weight: bold;
    margin-bottom: var(--spacing-large);
}

.tags{
    display: flex;
    gap: var(--spacing-small);
}

.tag{
    border: 2px solid rgb(187, 185, 185);
    padding: .3125rem .625rem;
    background-color: var(--background-footer-tag-header);
}

.bookmark {
    font-size: var(--font-size-large);
    border: none;
    position: absolute;
    top: var(--spacing-large);
    right: var(--spacing-large);
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s;
}

.bookmark:hover{
    transform: scale(1.2);
}

.orange-icon{
    color: var(--color-orange);
}